<% 
var polygons = model.get('polygons') || []
%>

Document name: <input type="text" class="document-name" value="<%= model.get('name') %>">
<br>
<button class="newPolygon">New Polygon</button>
<button class="removeDocument">Delete Document</button>
<!-- <button class="save">Save</button> -->
<a href="#documentList">go to document list</a>

	<h4>Polygons: (<%= polygons.length %>)</h4>

<ul>
<% _.each(polygons, function(p){ %>
	<li><a href="#polygonEditor?document=<%= p.get('documentName')%>&polygon=<%= p.get('name')%>"><%= p.get('name') %></a> (with <%= p.get('points').length%> points)</li>
<% }) %>
</ul>
