<% 
var points = model.get('points') || []
%>

Polygon name: <input type="text" class="polygon-name" value="<%= model.get('name') %>">

of 

<a href="#documentEditor?document=<%= model.get('documentName') %>">document <%= model.get('documentName') %></a>

<br>
<button class="mark">mark!</button>
<button class="save">save</button>


	<h4>Points: (<%= points.length %>)</h4>

<%if(points && points.length) {%>
<ul>
<% _.each(points, function(p){ %>
	<li>(<%= p.get('longitude')+', '+p.get('latitude') %>)</li>
<% }) %>
</ul>

<%}%>